<div class="contents row">
  <div class="content_post">
    <%# if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_menter_path(@menter.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', menter_path(@menter.id), method: :delete %>
          </li>
        </ul>
      </div>
    <%# end %>
    <p><%= @menter.name %></p>
    <p class="show_content"><%= @menter.job%></p>
    <p class="show_content"><%= @menter.respect%></p>
    <p class="show_content"><%= @menter.norespect%></p>
    <p class="show_content"><%= @menter.influence%></p>
    <p class="show_content"><%= @menter.get%></p>
  </div>
  <div class="container">
    <%# if current_user %>
      <%#= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%#= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%#= form.submit "SEND" %>
      <%# end %>
    <%# else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <%# end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <%# if @comments %>
        <%# @comments.each do |comment| %>
          <p>
            <strong><%#= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%#= comment.text %>
          </p>
        <%# end %>
      <%# end %>
    </div>
  </div>
</div>